<?xml version="1.0" encoding="utf-8" ?>  
<configuration>  
    <appSettings>
		<add key="DmQuery" value="SELECT kod_KM from sklad AS s LEFT JOIN orders as o ON s.id_orders=o.id WHERE id_global_orders=@ID_ORDER" />
        <add key="BcsQuery" value="SELECT INSERT_TIMEDATA, DEVICE,GL19, PD00, GT32, GT61, GT62, GT63 FROM Filter2 WHERE INSERT_TIMEDATA >= CAST(GETDATE() as DATE) AND GT32=@GTIN" />
		<add key="FtpServer" value="10.5.11.151" />
		<add key="FtpPort" value="21" />
		<add key="DmWorkFolder" value="C:\DIAR\DIARMARK" />
		<add key="CurrentGTIN" value="04610453391370" />
		<add key="Brain2Ip" value="192.168.100.100" />
		<add key="GlpName" value="GLMI-2" />
		<add key="AutoClear" value="false" />
		<add key="License" value="Capture" />
	</appSettings>  
    <connectionStrings>
		<add name="DmDbConnection" connectionString="Server='SMYARMED';Database='crux';User Id='diar';Password='123';Trusted_Connection=True;TrustServerCertificate=True;Integrated Security=False;"/>
		<!--add name="Bct2DbConnection" connectionString="Server='sgisov3\SQLEXPRESS';Database='BCT2DB';User Id='sa';Password='Qwerty12345678';"/-->
		<add name="Bct2DbConnection" connectionString="Server='SMYARMED';Database='BCT2DB';User Id='diar';Password='123';;Trusted_Connection=True;TrustServerCertificate=True;Integrated Security=False;"/>
	</connectionStrings>  
</configuration>